/* @media (min-width: 1000px){
    .chat {
        position: absolute;
        overflow: scroll;
        margin-top: 700px;
    }
}

@media (max-width: 999px){
    .chat {
        width: 100%;

    }
} */
