@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web&display=swap");

.star {
    color: gold;
    font-size: 22px;
    margin-bottom: 10px;
}

.reviewCard {
    font-family: 'Titillium Web', sans-serif;
    height: 33vh;
    padding: 35px;
    text-align: center;
}

@media only screen and (max-width: 999px) {
    .reviewCard {
        padding-bottom: 50px !important;
    }
}