@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web&display=swap");

.star {
    color: gold;
    font-size: 22px;
    margin-bottom: 10px;
}

.reviewCard {
    font-family: 'Titillium Web', sans-serif;
    padding: 35px;
    text-align: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .reviewCard {
        height:100%;
    }
}