@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web&display=swap");

.ant-divider-inner-text {
    font-size: 30px;
    font-weight: 600;
}

.dndFrame {
    color: black;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    /* background-color: #c5c5d4; */
    border-radius: 6px;
    /* display:flex; */
    /* margin-top: 6rem; */
    
}

.currentRoomBox {
    text-align: center;
    font-size: 20px;
}
@media only screen and (max-width: 499px) and (min-width: 50px){
    .dndFrame {
        position: absolute;
        top: 60%;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .ant-col {
        margin-bottom:50px;
    }
}
@media only screen and (max-width: 999px) and (min-width: 500px){
    .dndFrame {
        display: hidden;
    }
}