.card {
    width: 100%;
    height: 100%;
}

.cardRow {
    display: flex;
    align-items: center;
}

.icon {
    margin-bottom: 16px;
    color: #0b64a4;
}

p {
    font-size: 18px;
    margin-left: 6px;
}

