@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web&display=swap");
.footerBox {
    background-color: #0b64a4;
    height: 50px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.footerContainer {
    display: flex;
    justify-content: center;
}

#footerText {
    color: whitesmoke;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    padding: 8px;
    margin-top: 3px;
}


@media only screen and (max-width: 999px) {
    .footerBox {
        height: 40px;
        position: sticky;
    }

    #footerText {
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
