/* body {
    background-color:skyblue;
    padding: 10px;
}
    @media (min-width: 1000px){

    #create {
        margin: 5px;
        margin-top: 10px;
        margin-left: 20%;
        width: 240px;
    }

}
@media only screen and (max-width: 999px) and (min-width: 500px){
        #create {
            margin-left:45%;
        }

/* } */
/* @media only screen and (max-width: 499px) and (min-width: 50px){ */


<<<<<<< HEAD
    /* #create {
        margin-top: 400px;
    } */
/* } */

#create {
    width: 145px;
    height: 34px;
    background-color: #0b64a4;
=======
    #create {
        margin-top: 10px;
    }
>>>>>>> dev
}


