    @media (min-width: 1000px){
    #container {
        position: absolute;
        top: 6.5%;
        left: 49.5%;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 75%; 
    }
    
    #meet {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /* margin-bottom: 5%; */
        border: 1px solid #e1e1e1;
        z-index: 0;
    }
}
@media only screen and (max-width: 999px) and (min-width: 500px){
        #container {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 30%;
        }
        #meet {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

        }
}
@media only screen and (max-width: 499px) and (min-width: 50px){
    #container {
        position: absolute;
        overflow: hidden;
        top: 7%;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50%;
        
    }
    #meet {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

    }
}
